/* Tove Svensson / tove@mossbylund.se*/

html body {
  	font-family: 'Roboto Slab', serif;
    color:#646363;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
/* colors
grå: #646363;     
rosa: #F9E8F7
mellanrosa:#e0a3d9
lila:# 7d3b6d
mintgrön: #d6ede8
mellangrön: #a6cfc7 */

/* header*/
header  {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    padding-bottom: 100px;

}
.hem {
    background-image: url(img/bird2.jpg);
    padding: 200px 0px 400px 0px;
		
}
    .hem h1 {
    font-family: 'Playfair Display SC', georgia, serif;
    font-style: italic;
    font-size: 6em;
    color: #ffffff;
    text-align: center;
    margin: 0;
    overflow: hidden;  }

    .hem h3{
    font-family: 'Playfair Display SC', georgia, serif;
    font-size: 1.5em;
    font-style: normal;
    margin:20px 0px -30px -20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.galleri {
    background-image: url(img/tikicouple.jpg);
    padding: 200px 0px 400px 0px;
		
}
    .galleri h1 {
    font-family: 'Playfair Display SC', georgia, serif;
    font-style: italic;
    font-size: 6em;
    color: #e0a3d9;
    text-align: center;
    margin: 0;
    overflow: hidden;  }

    .galleri h3{
    font-family: 'Playfair Display SC', georgia, serif;
    font-size: 1.5em;
    font-style: normal;
    margin:20px 0px -30px -20px;
    text-align: center;
    text-transform: uppercase;
    color: #d6ede8;
}
.side {
    background-image: url(img/himmelSV.jpg);
}
		img.superhero{
 		width: 100%;    
}

 /* meny */

#meny {
  background:#646363;
	margin: 0px;
	position: sticky;
	top: 0;
	z-index: 5;
	box-shadow: 0 5px 8px rgba(0,0,0,.2); 
}
#meny label, #meny ul, #meny li {
  display: inline-block;
}
#meny label, #hamburger {
  display: none;
}
#meny label {
  color: #d6ede8;
  font-style: normal;
  font-size: 1.5em;
  padding: 10px;
}

/* meny innehåll */
#meny ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
#meny ul li {
  padding: 10px 20px;
  box-sizing: border-box;
}
#meny ul li a {
	font-size: 1.5em;
	color: #fff;
  text-decoration: none;
}
#meny ul li a:hover {
	color: #F9E8F7;
	text-decoration: none;}

/* mobil meny */
@media screen and (max-width: 650px){
  #meny label {
    display: inline-block;
  }
  #meny ul li {
    display: block;
  }
  #meny ul {
    display: none;
  }
  #meny input:checked ~ ul {
    display: block;
  }
}


/* typografi */

h1{
  font-family: 'Playfair Display SC', georgia, serif;
	font-weight: 700;
  font-size: 2.5em;
	font-style: italic;
  text-transform: uppercase;
	text-align: center;
	padding: 0px;	
}

h2{
  font-family: 'Playfair Display SC', georgia, serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5em;
    color: #7d3b6d;
    text-align: center;
    padding: 0 ;
}

h2 a {  text-decoration: none;
color: #7d3b6d
}

h3{
  font-family: 'Playfair Display SC', georgia, serif;
    font-size: 1.3em;
    margin: 0;
    text-transform: uppercase;
    font-style: italic;
    text-align: center; 
}
h4{
  font-family: 'Roboto Slab', 'serif'; 
	font-weight: 700;
  font-size: 3.5em;
  text-transform: uppercase;
	text-align: center;
	padding: 0px;	
	text-shadow: 0px 0px 15px #646363;
	margin-top: -35px;
	color: #ffffff;
	position: relative;
		z-index: 2;
}
p { 
	max-width: 550px;
	margin: 20px auto;
	padding: 0px 20px;
	text-align: center;
}

.quote {
		max-width: 500px;
    margin: 0px auto 50px !important;
		padding: 0px;
		margin: 0;
		
}
.quote p, h3{
		margin: 0;
		text-align: center;
}

a {  
	font-family: 'Playfair Display SC', georgia, serif;
	text-decoration: none;
	color: #F9E8F7
}
a:hover {
    text-decoration: underline;
}


/* intro */

        
.sidekick {
    max-width: 650px;
    margin: 30px auto 0 !important;
    background-color: #ffffff;
}
.intro {
    max-width: 650px;
    margin: 30px auto 200px !important;		
    }

.intro p{
    margin-bottom: ;
		padding: 0 20px;
		text-align: center;}

.sidekick p{
    margin-bottom: 200px;
    padding: 0 20px;
    
}



/* wrappers */

.wrapper /* sidekick bollplank */{
    background: #F9E8F7;
    color: #646363;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0px;

}
 .wrapper2 {
    background: #646363;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
		
}

.wrapper3{
		background: #d6ede8;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;

}

.wrapper4{
    background: #646363;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
		margin: 0 auto;

}

.wrapper5{
		background-image: url(img/papper.JPG);
		background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 10px 0px 100px 0px;
}

.wrapper6{
    color: #646363;
    width: 100%;
    box-sizing: border-box;
		margin: 0 auto;}

#bollplank{
		padding:0px 50px;
}
/* avdelare */

.pattern {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
		padding: 200px 0 ;
		margin:0;
		}

#kraken{
		background-image: url(img/kraken.png);
		padding: 300px 0;
		margin-top: -150px;
		
}
#krabba img{
		display: block;
		position: relative;
		width:100%;
		margin-top: -170px;
		margin-bottom: -100px;

}
#sommar {
		background-image: url(img/vacay.JPG);
		padding:00px 0;
}
#thorn{
		background-image: url(img/thorn.png);
		position: relative;
		margin-top:-25%;
}
#floral{
		position: relative;
		background-image: url(img/floral.png);
		margin-top:-10%;

}

#skepp{
		background-image: url(img/skepp.png);
		margin-bottom: -200px;
		background-size: 100% auto;
		
}
#skrivbord{
		background-image: url(img/skrivbord.JPEG);
   	margin-top: 0; 
}


#boll {
    height: 300px;
    margin-top: -170px;
    box-sizing: border-box;
    border-bottom: 3px solid #646363;
    overflow: hidden;
}
@media only screen and (max-width: 650px) {
  img.boll {
    height: 150px;
    margin-top: -100px;
  }
}
@media only screen and (max-width: 650px) {
  .row {
		flex-wrap:wrap;}
	
		.column1 {
		flex:100%;
    max-width: 100%;
		margin:0;
		}
		.wrapper{
		padding: 0;
		}
}

#under  {
align-items: flex-end
}

.row{
    display:flex;
    max-width: 650px;
    margin: 0 auto;
    align-items: center;
}

.column1 p{
		text-align: left
}
.column1{
    flex:50%;
		padding-bottom: 30px;
}
.column1 img{
    width: 400px;
}
.column1 ul {
    list-style: none;
    max-width:400px}

#bubbla{
		background: #ffff;
    border-radius: 40px;
    text-align: center;
    line-height: 1;    
		margin: auto 30px;
    padding: 20px;
}


.tikitove {
    display: block;
    max-width: 640px;
    margin: 0 auto !important;
}

#icon{
    height: 400px;
    margin-top: -250px;
		padding-right: 3%;
    float: right;
}
.mandala{
    width: 100%;
		height:500px;
		padding: 20px 0px;
		margin-top: -35%;
		z-index: -10;
		overflow: hidden;
		display: flex;
		align-items: center;
		flex-wrap: no
}
/* bilder */

.spin {
		flex: 33.333%
    position: relative;
    margin-left: -250px;
    width: 500px;
    height: 500px;
    animation:spin 50s linear infinite;
}

@keyframes spin { 100% {  transform:rotate(360deg); } }

.full{
		width:100%;
}

 .triptyk {
    padding:0;
    display: flex;
    flex-wrap: wrap;
		width:90%;
		margin: 0 auto ;
		justify-content: center;
}

.triptyk img{
		margin-top: -50%;
}

@media only screen and (max-width: 650px) {
		
  .triptyk img {
   margin-top: 0;
  }

	.triptyk .first { 
		margin-top: -50%;
		padding-top: 20px;}
}

#color img{
		filter: grayscale(0);}
/* mediagrid */
.bilder {
    padding: 0;
		margin: 0 auto;
    display: flex;
		width:90%;
    flex-wrap: wrap; 
		justify-content: center;
}
.mediagrid img{
  filter: grayscale(100%);
	transition: .3s ease-in-out;
}
.mediagrid:hover img{	filter: grayscale(0);
}

.mediagrid{
    flex:30%;
    max-width: 30%;
    padding: 5px;   

}
@media only screen and (max-width: 650px) {
  .mediagrid {
   flex:100%;
    max-width: 70%;
		padding:5px 0px 0px 0px;
  }
}
.mediagrid img {
    vertical-align: middle;
    width: 100%;
}
@media only screen and (max-width: 650px) {
  .vakt {
   flex-wrap:wrap;
		}
		#flamingo2{
				display: none;
		}
		#flamingo1{
				position: relative;
				margin-bottom: -450px;
				margin-left: -450px;
				z-index: 3
		}
}
.vakt{
		display:flex;
		max-width: 700px;
		margin: -20% auto 0;
		padding: 30px 0 30px;
		align-items: flex-end;
		justify-content: center;
		text-align: center;
		
		
}
.vakt .slider img{
		filter: grayscale(0);
}
.vakt .slider{
		height: 150;
		border-radius: 50%;
		box-sizing: border-box;
}
.vakt img{
		filter: grayscale(0);	
}
#flamingo2{
		height: 200px;
		width:auto;
		margin-left: -30%;
}

#flamingo1{
	margin-right: -30%;
	height: 200px;
	width:auto;
 transform: scaleX(-1);
}
/*   slider */

.slider img{
	filter: grayscale(100%);
	transition: .3s ease-in-out;	
	width: 300px;
	height: 300px;
  display:block;	
}
.slider:hover img{	filter: grayscale(0);
}

.slider{
	margin:0px auto ;
	width:300px;
  height:300px;
  overflow-x:hidden;
}

.slider-content{
	margin: 0;
  padding: 0;
  list-style:none;
  display:flex;
  animation: slide 10s ease-in-out infinite;

}
.slider-content:hover{
  animation-play-state:paused;	
}

@keyframes slide{
  10%{
    transform:translateX(0);
  }
  15%, 30%{
    transform:translateX(-300px);
  }
  35%, 50%{
    transform:translateX(-600px);
  }
  55%, 70%{
    transform:translateX(-900px);
  }
  75%, 90%{
    transform:translateX(0);
  } 
}

/* footer */
footer{
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 50px
}
footer ul li{
		font-family: 'Playfair Display SC', georgia, serif;
    display: inline-block;
    margin: 0 10px
}

/* popup */
.box {
  width: 40%;
  margin: 0 auto;
  padding: 35px;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #d6ede8;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #d6ede8;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(214, 237, 232, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
	z-index: 10;
}

.popup {
	color: #646363;
  margin: 100px auto;
  padding: 150px 50px;
	background:  url(img/postcard3.png) no-repeat;
	background-size: 500px ;
  width: 500px;
	box-sizing: border-box;
  position: relative;
  transition: all 5s ease-in-out;

}

.popup h2 {
  margin-top: 0;
  color: #646363;
	font-style: normal;
}
.popup a{  
	font-family: century gothic, georgia, serif;
	text-decoration: none;
	color: #646363
}

.popup a:hover {
  text-decoration: underline;
	color: #d6ede8;
}
.popup .close {
  position: absolute;
  top: -30px;
  right: -10px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #ffff;
}
.popup .close:hover {
  color: #d6ede8;
	text-decoration: none;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 650px){
  .box{
    width: 80%;
  }
  .popup{
  width: 80%;
	background-size: 350px ;
  width: 350px;
	padding: 100px 50px 50px;  
  }
}
