/* Tove Svensson / tove@mossbylund.se*/

html body {
  	font-family: 'Roboto Slab', serif;
    color:#646363;
    font-size: 14px;
    padding: 0px;
    margin: 0px auto;
		overflow-x: hidden;

}


/* colors
grå: #646363;     
rosa: #F9E8F7
mellanrosa:#e0a3d9
lila:# 7d3b6d
mintgrön: #d6ede8
mellangrön: #a6cfc7 */

/* header*/
header  {
	background: no-repeat center center fixed;
	background-size: cover;
  padding-bottom: 100px;

}
@media screen and (max-width: 992px) {
    header {
        background-attachment: scroll;
    }
}

header h1{
		font-family: 'Playfair Display SC', georgia, serif;
    font-style: italic;
    font-size: 6em;
		line-height: normal;
		text-align: center;
    margin: 0;
    overflow: hidden;
}
header h3{
		font-family: 'Playfair Display SC', georgia, serif;
    font-size: 1.5em;
    font-style: normal;
    margin:20px 0px -30px -20px;
    text-align: center;
    text-transform: uppercase;
}
#hem header{
    background-image: url(img/bird2.jpg);
    padding: 200px 0px 400px 0px;
		background-position: center top;
		
}
    #hem header h1 { 
    color: #ffffff;
    }

    #hem header h3{
    color: #ffffff;
}

#galleri header {
    background-image: url(img/tikicouple.jpg);
    padding: 50px 0px 600px 0px;
		
}
		#galleri header h1 {
    color: #e0a3d9;
     }

    #galleri header h3{
    color: #d6ede8;
}
#sidekick header {
    background-image: url(img/himmelSV.jpg);
}
		

 /* meny */

#meny {
  background:#646363;
	margin: 0px;
	position: sticky;
	position:-webkit-sticky;
	top: 0;
	z-index: 5;
	-webkit-box-shadow: 0 5px 8px rgba(0,0,0,.2);
	        box-shadow: 0 5px 8px rgba(0,0,0,.2); 
}
#meny label, #meny ul, #meny li {
  display: inline-block;
}
#meny label, #hamburger {
  display: none;
}
#meny label {
  color: #d6ede8;
  font-style: normal;
  font-size: 1.5em;
  padding: 10px;
}

/* meny innehåll */
#meny ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
#meny ul li {
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#meny ul li a {
	font-size: 1.5em;
	color: #fff;
  text-decoration: none;
}
#meny ul li a:hover {
	color: #F9E8F7;
	text-decoration: none;}

/* mobil meny */
@media screen and (max-width: 650px){
  #meny label {
    display: inline-block;
  }
  #meny ul li {
    display: block;
  }
  #meny ul {
    display: none;
  }
  #meny input:checked ~ ul {
    display: block;
  }
}


/* typografi */

h1{
  font-family: 'Playfair Display SC', georgia, serif;
	font-weight: 700;
  font-size: 2.5em;
	font-style: italic;
  text-transform: uppercase;
	text-align: center;
	line-height: 1;
	padding: 0px;	
}

h2{
  font-family: 'Playfair Display SC', georgia, serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5em;
    color: #7d3b6d;
    text-align: center;
    padding: 0 ;
}

h2 a {  text-decoration: none;
color: #7d3b6d
}

h3{
  font-family: 'Playfair Display SC', georgia, serif;
    font-size: 1.3em;
    margin: 0;
    text-transform: uppercase;
    font-style: italic;
    text-align: center; 
}
h4{
  font-family: 'Roboto Slab', 'serif'; 
	font-weight: 700;
  font-size: 3.3em;
  text-transform: uppercase;
	text-align: center;
	padding: 0px;	
	text-shadow: 0px 0px 10px #646363;
	margin-top: -35px;
	color: #ffffff;
	position: relative;
		z-index: 2;
}
p { 
	max-width: 550px;
	margin: 20px auto;
	padding: 0px 20px;
	text-align: center;
}

.quote {
		max-width: 500px;
    margin: 0px auto 50px !important;
		padding: 0px;
		margin: 0;
		
}
.quote p, h3{
		margin: 0;
		text-align: center;
}

a {  
	font-family: 'Playfair Display SC', georgia, serif;
	text-decoration: none;
	color: #F9E8F7
}
a:hover {
    text-decoration: underline;
}
.switch {
  position: absolute;
	left:10%;
	right:10%;
		top: 122%;
  display: block;
  width: 60px;
  height: 34px;
	margin: 0 auto;
	z-index: 3;

}

.input { 
display:none;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
    border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
    border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch .toggle {
  background-color: #d6ede8;
}

input:focus + .switch .toggle {
  box-shadow: 0 0 1px #d6ede8;
}

input:checked + .switch .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
		
}
.container {
		filter: grayscale(100%)
}
.input:checked + .switch + .container {
		  filter:grayscale(0%);
}

/* intro */

        
.sidekick {
    max-width: 650px;
    margin: 30px auto 0 !important;
    background-color: #ffffff;
}
.intro {
    max-width: 650px;
    margin: 30px auto 200px !important;		
    }


.sidekick p{
    margin-bottom: 200px;
    
}
#start {
		position: absolute;
		left:10%;
		right: 10%;
		top: 108%;
		z-index: 3;	
		max-width: 650px,
}
#start h1{
		padding: 0px;
		margin: 0
		
}
#start p{
		margin-top: 0px;
}
.mandala{
		position: relative;
    width: 100%;
		height:400px;
		padding: 0px;
		overflow: hidden;
		z-index: -1;
}

/* wrappers */

.wrapper /* sidekick bollplank */{
    background: #F9E8F7;
    color: #646363;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 0px;

}
 .wrapper2 {
    background: #646363;
    color: #ffffff;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px;
		
}

.wrapper3{
		background: #d6ede8;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px;

}

.wrapper4{
    background: #646363;
    color: #ffffff;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px;
		margin: 0 auto;

}

.wrapper5{
		background-image: url(img/papper.JPG);
		background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 10px 0px 100px 0px;
}

.wrapper6{
    color: #646363;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
		margin: 0 auto;}

#bollplank{
		padding:0px 50px;
}
/* avdelare */

.pattern {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
		padding: 200px 0 ;
		margin:0;
		}

#kraken{
		background-image: url(img/kraken.png);
		padding: 300px 0;
		margin-top: -150px;
		
}
#krabba img{
		display: block;
		position: relative;
		width:100%;
		margin-top: -170px;
		margin-bottom: -100px;

}
#sommar {
		background-image: url(img/vacay.JPG);
		padding:00px 0;
}
#thorn{
		background-image: url(img/thorn.png);
		position: relative;
		margin-top:-25%;
}
#floral{
		position: relative;
		background-image: url(img/floral.png);
		margin-top:-10%;

}

#skepp{
		background-image: url(img/skepp.png);
		padding-top:400px ; 
		margin-bottom: -300px;
		background-size: 100% auto;
		
}
#skrivbord{
		background-image: url(img/skrivbord.JPEG);
		padding: 200px 0;
		width:100%;
		height: 100%;
   	margin: 0; 
}


#boll {
    height: 250px;
    margin-top: -150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 3px solid #646363;
    overflow: hidden;
}
@media only screen and (max-width: 650px) {
  #boll {
    height: 150px;
    margin-top: -100px;
		overflow: hidden;
  }
}
@media only screen and (max-width: 650px) {
  .row {
		-ms-flex-wrap:wrap;
		    flex-wrap:wrap;}
	
		.column1 {
		-webkit-box-flex:100%;
		    -ms-flex:100%;
		        flex:100%;
    max-width: 100%;
		margin:0;
		}
		.wrapper{
		padding: 0;
		}
}

#under  {
-webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end
}

.row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    max-width: 650px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.column1 p{
		text-align: left
}
.column1{
    -webkit-box-flex:50%;
        -ms-flex:50%;
            flex:50%;
		padding-bottom: 30px;
}
.column1 img{
    width: 400px;
}
.column1 ul {
    list-style: none;
    max-width:400px}

#bubbla{
		background: #ffff;
    border-radius: 40px;
    text-align: center;
    line-height: 1;    
		margin: auto 30px;
    padding: 20px;
}


.tikitove {
    display: block;
    max-width: 640px;
		padding-top: 30px;
    margin: 0 auto !important;
}

#icon{
    height: 400px;
    margin-top: -250px;
		padding-right: 3%;
    float: right;
}
@media screen and (max-width: 650px){
		.tikitove h1{
				clear:both;
		}
}
/* bilder */


.spin {
    position: relative;
    margin-left: -400px;
		margin-bottom: -400px;
    width: 800px;
    height: 800px;
    -webkit-animation:spin 50s linear infinite;
            animation:spin 50s linear infinite;
}

@-webkit-keyframes spin { 100% {  -webkit-transform:rotate(360deg);  transform:rotate(360deg); } }

@keyframes spin { 100% {  -webkit-transform:rotate(360deg);  transform:rotate(360deg); } }

.full{
		width:100%;
}

 .triptyk {
		 max-width: 1000px;
		display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
		width:90%;
		margin: 0 auto ;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}

.triptyk img{
		margin-top: -50%;
}

@media only screen and (max-width: 650px) {
		
  .triptyk img {
   margin-top: 0;
  }

	.triptyk .first { 
		margin-top: -50%;
		padding-top: 20px;}
}

#color img{
		-webkit-filter: grayscale(0);
		        filter: grayscale(0);}
/* mediagrid */
.bilder {
		max-width: 1000px;
    padding: 0;
		margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
		width:90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 
		-webkit-box-pack: center; 
		    -ms-flex-pack: center; 
		        justify-content: center;
}
#hem .mediagrid img{
	filter:grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#hem .mediagrid:hover img{	-webkit-filter: grayscale(0);	filter: grayscale(0);
}

.mediagrid{
    -webkit-box-flex:30%;
        -ms-flex:30%;
            flex:30%;
    max-width: 30%;
    padding: 5px;   

}
@media only screen and (max-width: 650px) {
  .mediagrid {
   -webkit-box-flex:100%;
       -ms-flex:100%;
           flex:100%;
    max-width: 70%;
		padding:5px 0px 0px 0px;
  }
}
.mediagrid img {
    vertical-align: middle;
    width: 100%;
}
@media only screen and (max-width: 650px) {
  .vakt {
   -ms-flex-wrap:wrap;
       flex-wrap:wrap;
		}
		#flamingo2{
				display: none;
		}
		#flamingo1{
				position: relative;
				margin-bottom: -450px;
				margin-left: -450px;
				z-index: 3
		}
}
.vakt{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		max-width: 700px;
		margin: -200px auto 0;
		padding: 30px 0 30px;
		-webkit-box-align: end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;
		
		
}
.vakt .slider img{
		-webkit-filter: grayscale(0);
		        filter: grayscale(0);
}
.vakt .slider{
	
		border: 15px solid #646363;
		border-radius: 50%;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
}
.vakt img{
		-webkit-filter: grayscale(0);
		        filter: grayscale(0);	
}
#flamingo2{
		height: 200px;
		width:auto;
		margin-left: -30%;
}

#flamingo1{
	margin-right: -30%;
	height: 200px;
	width:auto;
 -webkit-transform: scaleX(-1);
     -ms-transform: scaleX(-1);
         transform: scaleX(-1);
}
/*   slider */

.slider img{
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;	
	width: 300px;
	height: 300px;
  display:block;	
}
.slider:hover img{	
		-webkit-filter: grayscale(0);	filter: grayscale(0);
}

.slider{
	margin:0px auto ;
	width:300px;
  height:300px;
  overflow:hidden;
}

.slider-content{
	margin: 0;
  padding: 0;
  list-style:none;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-animation: slide 10s ease-in-out infinite;
          animation: slide 10s ease-in-out infinite;

}
.slider-content:hover{
  -webkit-animation-play-state:paused;
          animation-play-state:paused;	
}

@-webkit-keyframes slide{
  10%{
    -webkit-transform:translateX(0);
            transform:translateX(0);
  }
  15%, 30%{
    -webkit-transform:translateX(-300px);
            transform:translateX(-300px);
  }
  35%, 50%{
    -webkit-transform:translateX(-600px);
            transform:translateX(-600px);
  }
  55%, 70%{
    -webkit-transform:translateX(-900px);
            transform:translateX(-900px);
  }
  75%, 90%{
    -webkit-transform:translateX(0);
            transform:translateX(0);
  } 
}

@keyframes slide{
  10%{
    -webkit-transform:translateX(0);
           	transform:translateX(0);
  }
  15%, 30%{
    -webkit-transform:translateX(-300px);
    transform:translateX(-300px);
  }
  35%, 50%{
    -webkit-transform:translateX(-600px);
    transform:translateX(-600px);
  }
  55%, 70%{
    -webkit-transform:translateX(-900px);
    transform:translateX(-900px);
  }
  75%, 90%{
    -webkit-transform:translateX(0);
            transform:translateX(0);
  } 
}

/* footer */
footer{
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 50px
}
footer ul li{
		font-family: 'Playfair Display SC', georgia, serif;
    display: inline-block;
    margin: 0 10px
}

/* popup */
.box {
  width: 40%;
  margin: 0 auto;
  padding: 35px;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #d6ede8;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #d6ede8;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(214, 237, 232, 0.7);
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
	z-index: 10;
}

.popup {
	color: #646363;
  margin: 100px auto;
  padding: 150px 50px;
	background:  url(img/postcard3.png) no-repeat;
	background-size: 500px ;
  width: 500px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;

}

.popup h2 {
  margin-top: 0;
  color: #646363;
	font-style: normal;
}
.popup a{  
	font-family: century gothic, georgia, serif;
	text-decoration: none;
	color: #646363
}

.popup a:hover {
  text-decoration: underline;
	color: #d6ede8;
}
.popup .close {
  position: absolute;
  top: -30px;
  right: -10px;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #ffff;
}
.popup .close:hover {
  color: #d6ede8;
	text-decoration: none;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 650px){
  .box{
    width: 80%;
  }
  .popup{
  width: 80%;
	background-size: 350px ;
  width: 350px;
	padding: 100px 50px 50px;  
  }
}
